@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');
:root {
    --blue: #055C9D;
    --red: red;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0.1);
    --border: .1rem solid rgba(0, 0, 0, 1);
    --outline: .1rem solid rgba(0, 0, 0.1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #eee;
}


/*Code for Banner*/

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}

.heading span {
    background: var(--red);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0%, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn {
    border: .2rem solid var(--black);
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover {
    background: var(--blue);
    color: #fff;
}

.header {
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
}

.header .logo i {
    color: var(--red);
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--red);
}

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
    cursor: pointer;
}

.header .icons div:hover {
    background: var(--blue);
    color: white;
}

#menu-btn {
    display: none;
}

.header .navbar.active {
    right: 2rem;
    transition: .5s linear;
}

.header .search-form {
    border: 1px solid;
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 4.5rem;
    background: #fff;
    border-radius: .5rem;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active {
    right: 2rem;
    transition: .2s linear;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form label {
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover {
    color: var(--blue);
}

.shopping-cart .box img {
    max-width: 100px;
    max-height: 100px;
}

.header .shopping-cart {
    width: 100px;
    border: 1px solid;
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    background: #fff;
}

.header .shopping-cart.active {
    right: 2rem;
    transition: .2s linear;
}

.header .shopping-cart .box {
    border: 0px solid blue;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box .img {
    height: 10rem;
}

.header .shopping-cart .box .fa-trash {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translate(-50%);
}

.header .shopping-cart .box .fa-trash {
    color: var(--red);
}

.header .shopping-cart .box .fa-trash .content h3 {
    color: var(--border);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .fa-trash .content span {
    color: var(--border);
    font-size: 1.6rem;
}

.header .shopping-cart .box .fa-trash .content .quantity {
    padding-left: 1rem;
}

.header .shopping-cart .total {
    font-size: 2.5rem;
    padding: 1rem;
    text-align: center;
    color: var(--black);
}

.header .shopping-cart .btn {
    display: block;
    text-align: center;
    margin: 1rem 0;
}

.login-form {
    border: 1px solid;
    position: absolute;
    width: 25rem;
    top: 110%;
    right: -110%;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}

.login-form.active {
    right: 2rem;
    transition: .2s linear;
}

.header .login-form h3 {
    font-size: 2.3rem;
    text-transform: uppercase;
    color: var(--black);
}

.header .login-form .box {
    width: 100%;
    border: 1px solid;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.home {
    display: 1px solid;
    display: flex;
    justify-content: center;
    background: url(../image/shopping-cart-full-food-yellow-background-grocery-food-store-concept_708636-682.jpg) no-repeat;
    background-position: top;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home .content {
    text-align: right;
    border: 0px solid;
    width: 60rem;
}

.home .content h3 {
    color: var(--black);
    font-size: 1.7rem;
}

.home .content p {
    color: var(--black);
    font-size: .9rem;
}

.home .content h3 span {
    color: var(--red);
    font-size: 2rem;
    padding: 1rem 0;
}


/*Features*/

.features .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.features .box-container .box {
    border: 0px solid red;
    padding: 4rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.features .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8;
}

.features .box-container .box p {
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 1.8;
}

.features .box-container .box:hover {
    box-shadow: 1px 1px 10px 4px var(--red);
}

.features .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
}


/*Products Area*/

.product .product-slider {
    border: 0px solid;
    padding: 1rem;
}

.product .product-slider:first-child {
    margin-bottom: 1rem;
}

.product .product-slider .box {
    border: 0px solid red;
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 1rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.product .product-slider .box:hover {
    box-shadow: 1px 1px 10px 4px var(--red);
}

.product .product-slider .box img {
    height: 15rem;
}

.product .product-slider .box h1 {
    font-size: 2rem;
    color: var(--black);
}

.product .product-slider .box .price {
    font-size: 1.5rem;
    color: var(--light-color);
    padding: .5rem 0;
}

.product .product-slider .box .stars i {
    font-size: 1.7rem;
    color: orange;
    padding: .5rem 0;
}


/*Categories Section*/

.categories .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.categories .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
}

.categories .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8;
}

.categories .box-container .box p {
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
}

.categories .box-container .box {
    border: 0px solid red;
    padding: 4rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.categories .box-container .box:hover {
    box-shadow: 1px 1px 10px 4px var(--red);
}


/*Review area*/

.review .review-slider .box img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.review .review-slider {
    border: 1px border;
    padding: 1rem;
}

.review .review-slider .box {
    border: 0px solid red;
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.review .review-slider .box:hover {
    box-shadow: 1px 1px 10px 4px var(--red);
}

.review .review-slider .box p {
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}

.review .review-slider .box h3 {
    padding-bottom: .5rem;
    color: var(--black);
    font-size: 2.2rem;
}

.review .review-slider .box .stars {
    color: orange;
    font-size: 2.2rem;
}


/*Footer Section*/

.footer {
    background: #fff;
}

.footer .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box h3 i {
    color: var(--red);
}

.footer .box-container .box .links {
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .links i {
    color: var(--red);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i {
    padding-right: 2rem;
}

.footer .box-container .box p {
    line-height: 1.8;
    font-size: 1rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .share a {
    border: 0px solid;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2.5rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover {
    background: var(--red);
    color: #fff;
}

.footer .box-container .box .email {
    width: 90%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.footer .credit {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--black);
    border-top: var(--border);
}

.footer .credit span {
    color: var(--red);
}


/* Media Queires */

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 2rem;
    }
    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }
    .header .search-form {
        width: 90%;
    }
    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        widows: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }
    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .heading {
        font-size: 2.5rem;
    }
}